/* body {
  text-align: center;
  border-color: gray;
  font-family: "Roboto", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
}

.container {
  text-align: center;
}

.weather-app {
  margin: 20px auto;
  max-width: 450px;
  padding-bottom: 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4.5px);
  margin-top: 100px;
}

.change-city {
  padding-top: 40px;
}

.city-name {
  position: relative;
  bottom: -1px;
  height: 35px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid gray;
}
#search-button,
#current-city-btn {
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  border: 2px;
}

.city {
  color: #00204a;
  font-size: 50px;
  padding-top: 20px;
  margin-bottom: 0;
}

.current-time,
.details,
.temperature-now,
.row,
.description {
  color: #1b3764;
}

.temperature-now {
  font-size: 50px;
}
#fahrenheit,
#celsius {
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  color: black;
}
#fahrenheit:hover,
#celsius:hover {
  color: gray;
}
.units {
  position: relative;
  top: -20px;
}

.details {
  padding-bottom: 20px;
  padding-top: 0;
}
.col {
  line-height: 0;
}

.weather-forecast {
  padding-top: 10px;
  text-align: center;
}

.weatherforecast-date {
  position: relative;
  left: -100px;
}

.weatherforecast-temp {
  position: relative;
  right: -100px;
  top: -43px;
}
.weather-forecast-icon {
  position: relative;
  top: -25px;
  left: 5px;
}
.min-temp {
  position: relative;
  left: 10px;
}
small {
  position: relative;
  top: -20px;
}
#source-link {
  text-decoration: none;
}

.description {
  text-transform: capitalize;
}

.clearSky {
  background-image: "src/clearsky.jpg";
}

.fewClouds {
  background-image: "src/fewclouds.jpg";
}

.brokenClouds {
  background-image: "src/broeknClouds.jpg";
}

.rainyDay {
  background-image: "src/rain.jpg";
}

.snowing {
  background-image: "src/snowing.jpg";
}
 */
