.weather-app {
  border: 1px solid grey;
  border-radius: 2%;
  text-align: center;
  padding-bottom: 25px;
}

form {
  text-align: center;
  margin: 5px;
  margin-bottom: 0;
  margin-top: 30px;
}

#search-button {
  margin: 10px;
}

.icon-element {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.details {
  margin-bottom: 30px;
}
